.login-container {
  position: absolute;
  top: 50%;
  right: 20%; /* Adjust the right distance as needed */
  transform: translateY(-50%);
  width: 500px; /* Increase the width as needed */
  height: 400px; /* Increase the height as needed */
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.side-image {
  height: 50%;
  max-width: 50%;
  object-fit: cover;
  margin-right: 50%;
}

.main-container {
  height: 100vh;
  background-color: #f9f9f9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  align-items: center;
}

h2 {
  text-align: center;
  margin: 30px;
  margin-top: 50px;
  padding: 20px;
  font-size: 50px;
}
