.register-container {
  position: absolute;
  top: 50%;
  right: 20%; /* Adjust the right distance as needed */
  transform: translateY(-50%);
  width: 500px; /* Increase the width as needed */
  height: 550px; /* Increase the height as needed */
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}
.main-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
